section.content {
	@include clearfix;
	@include media($medium-screen-up) {
		@include span-columns(9);
		padding-left: 2em;
		margin-top: 7.3em;
	}
	h1 {
		font-size: 2em;
		font-family: $sans-serif;
		color: $dark-gray;
		margin-bottom: 0;
		//padding-bottom: 0.3em;
		font-weight: 400;
		//margin-bottom: 0.3em;
		& + p {
			margin-top: 0.8em;
		}
		& + h2, & + h3 {
			margin-top: 0.6em;
		}
	}
	h2 {
<<<<<<< HEAD
		margin-bottom: 0.7em;
	}
	p {
  	margin-top: 0.5em;
  }
	p:last-child {
=======
>>>>>>> 581e89801d94914a8018cd3b590db8a078d06301
		margin-bottom: 0;
		padding-top: 0.2em;
	}
	p {
		margin-top: 0.5em;
		&:last-child {
			margin-bottom: 0;
		}
	}
}