html, body {
	height: 100%;
}

body {
	background-image: url('/images/bg.png');
	background-repeat: no-repeat;
}

.main {
	@include outer-container;
	padding: 0 1em;
	min-height: 100%;
	margin-bottom: -3.5em;
	// @include media($medium-screen-up) {
	// 	padding-top: 2.5em;
	// }
	.main-content {
		@include span-columns(12);
		min-height: 100%;
		padding-bottom: 1.5em;
	}
}