nav {
	@include media($medium-screen-up) {
		@include span-columns(3);
		margin-top: 4.5em;
	}
	.brand {
		display: block;
		padding-bottom: 0.2em;
		margin: 0;
		border-bottom: 1px solid $light-gray;
		color: darken($medium-gray, 20);
		font-size: 2em;
		a {
			color: darken($medium-gray, 20);
			&:hover, &:focus {
				color: darken($base-accent-color, 25);
			}
		}
		@include media($medium-screen-up) {
			text-align: right;
		}
	}
	ul {
		max-height: 0;
		overflow: hidden;
		text-align: center;
		border: 1px solid $light-gray;
		border-top: 0;
		margin-bottom: 1em;
		@include media($medium-screen-up) {
			float: right;
			text-align: right;
			border: 0;
			max-height: 100%;
		}
		li {
			a {
				display: block;
				padding: 0.5em 0;
				text-transform: uppercase;
				color: $medium-gray;
			}
			&:first-child {
				border: 0;
			}
			&.current a {
				color: darken($base-accent-color, 25);
				@include media($medium-screen-up) {
					&:before {
						content: "// ";
						color: $dark-gray;
					}
				}
			}
			&.closed a {
				&:before {
					content: "▸ ";
					color: $dark-gray;
				}
			}
			&.open {
				a {
					&:before {
						content: "▾ ";
						color: $dark-gray;
					}			
				}
				ul > li {
					a {
						margin-top: -10px;
						font-size: 0.9em;
						color: $medium-gray;
						&:before {
							content: "";
						}						
					}
					&.current a {
						color: darken($base-accent-color, 25);
						@include media($medium-screen-up) {
							&:before {
								content: "// ";
								color: $dark-gray;
							}
						}	
					}
				}
			}
			border-top: 1px solid $light-gray;
			@include media($medium-screen-up) {
				border: 0;
			}
		}
	}
	.menu-icon a {
		position: absolute;
		right: 0.5em;
		top: 0.35em;
		font-size: 2em;
		padding: 0.45em 0.45em 0.4em 0.4em;
		line-height: 1;
		border-radius: 50%;
		background-color: rgba($dark-gray, 0.9);
		color: darken($base-accent-color, 25);
		&:hover, &:focus {
			color: $light-gray;
		}
		@include media($medium-screen-up) {
			display: none;
		}
	}
	.close-menu {
		display: none;
	}
	#main-navigation:target {
		max-height: 500px;
	}
	#main-navigation:target + .menu-icon {
		.open-menu {
			display: none;
		}
		.close-menu {
			display: block;
		}
	}
	#main-navigation {
		transition: max-height 0.3s ease; 
	}
}