.person-container {
	.person {
		@include row();
		padding: 1em 0;
		border-bottom: 1px dotted $light-gray;
		&:last-child {
			margin-bottom: 1em;
		}
		.picture {
			@include span-columns(2);
			@include media($large-screen-up) {
				padding: 0 1em;
			}
			img {
				padding: 0;
				max-width: 100%;
				height: auto;
				width: auto;
				border-radius: 50%;
				border: 1px solid $light-gray;
			}
		}
		.bio {
			@include span-columns(10);
			@include media($large-screen-up) {
				@include span-columns(8);
			}
			h2, h3 {
				margin-bottom: 0.4em;
				line-height: 1.4em;
			}
			h2 {
				font-size: 1.1em;
			}
			h3 {
				font-size: 1em;
			}
			.address a {
				font-size: 0.9em;
				line-height: 1em;
			}
			p, p.shortbio {
				font-size: 0.9em;
				color: darken($medium-gray, 20);
				line-height: 1.2em;
			}
			.role {
				margin: 0;
				font-weight: 700;
			}
		}		
	}

}



