---
title: About
---
<h1>About</h1>
<p>
	Apresentação do grupo. Será necessária? A página de entrada não bastará?
	Contactos? Mapa?
</p>
<h2>Level 2 header</h2>
<p><%= lorem.paragraph %></p>
<h3>Level 3 header</h3>
<p><%= lorem.paragraph %></p>
<h4>Level 4 header</h4>
<p><%= lorem.paragraph %></p>
<h5>Unordered List</h5>
<ul>
	<li>item-1</li>
	<li>item-2</li>
	<li>item-3</li>
	<li>item-4</li>
	<li>item-5</li>
</ul>		
