---
title: Information Systems Research Group
---
<%# image_tag "bg.svg", class: 'bg-img' %>
<h1>Information Systems Research Group</h1>
<p>
	Infolab is a research group based at the Department of Informatics Engineering at FEUP that brings together teachers and researchers with interests in the area of ​​information, especially the sub-areas of information management, information retrieval and information systems.
</p>

<p>
	A sua intervenção docente distribui-se pelos programas de Mestrado Integrado em Engenharia Informática e Computação, Licenciatura e Mestrado em Ciência da Informação, Licenciatura em Ciências da Comunicação, Programa Doutoral em Engenharia Informática e Programa Doutoral em Informática (MAP-i). Os seus interesses de investigação concentram-se nas áreas de gestão de dados de investigação, pesquisa de informação em saúde e preservação de informação.
</p>
