---
title: Selected Projects
---

<h1>Selected Projects</h1>

<h2>SIBILA</h2>

<p>
	The SIBILA project aims at developing a set of tools that will effectively support the decision- making process in organizations, and facilitate the process of building data-driven solutions. These tools will be able to process and represent complex sources of data, such as multi- relational and/or web data, and to, given a user-defined task, semi-automatically select the best components at hand and compose them together. To do so, SIBILA will require progress at the level of knowledge representation and data mining techniques. Moreover, the complexity of SIBILA will require contributions in software engineering and language development.
</p>