---
title: Selected Publications
---

<h1>Selected Publications</h1>

<%= image_tag "#{lorem.image('800x200')}" %>

<h2>Information Management</h2>
<p><%= lorem.paragraph %></p>
<h2>Information Retrieval</h2>
<p><%= lorem.paragraphs 2 %></p>
<h2>Information Systems</h2>
<p><%= lorem.paragraphs 3 %></p>